tower {
  accessToken = 'xxx'
  enabled = false
}

process {
    executor = 'SLURM'
    queue = 'base'
    //errorStrategy = { task.exitStatus in 151 ? 'retry' : 'terminate' }
    //maxRetries = 2
}

profiles {
   fastqc {
     env.LC_ALL="en_US.UTF-8"
     env.LANG="en_US.UTF-8"
      executor {
         queueSize = 150
      }

      singularity {
         enabled = true
         runOptions = '-B $WORK:$WORK,$HOME:$HOME'
      }

      process {
         executor = 'SLURM'
         queue = 'base'
         cpus = 1
         memory = { 4.GB * task.attempt }
         time = { 2.h * task.attempt }
         
         withName: FASTQC {
            cpus = 1
            memory = 4.GB
            time = { 30.m * task.attempt }
         }
         
         withName: SEQKIT {
            cpus = 1
            memory = 4.GB
            time = { 1.h * task.attempt }
         }
         
         withName: MULTIQC {
            executor = 'local'
            cpus = 1
            memory = 4.GB
            time = { 30.m * task.attempt }
         }
      }
   }

   fastp {
     env.LC_ALL="en_US.UTF-8"
     env.LANG="en_US.UTF-8"
      executor {
        queueSize = 50
      }

      process {
         executor = 'SLURM'
         queue = 'base'
         cpus = 8
         memory = { 8.GB * task.attempt }
         time = { 2.h * task.attempt }

         withName: multiqc {
            executor = 'local'
            cpus = 1
            memory = 1.GB
            time = { 30.m * task.attempt }
         }
      }
   }

   blast {
     env.LC_ALL="en_US.UTF-8"
     env.LANG="en_US.UTF-8"
     
     //env.BLASTDB="/gxfs_work1/fs2/work-geomar7/smomw240/DBs/nt"
     
      executor {
         queueSize = 600
      }
       
      singularity {
         runOptions = '-B $WORK:$WORK'
         enabled = true
       }

      process {
         withName:split {
            //container = 'https://depot.galaxyproject.org/singularity/genometools-genometools:1.6.1--py38h23571c4_2'
            executor = 'local'
         }
         withName:blast {
            //container = 'https://depot.galaxyproject.org/singularity/blast:2.11.0--pl526he19e7b1_0'
            container = 'https://depot.galaxyproject.org/singularity/blast:2.13.0--hf3cf87c_0'
            executor = 'SLURM'
         }
         
         executor = 'SLURM'
         queue = 'base'
         cpus = 1
         memory = { 16.GB * task.attempt }
         time = { 8.h * task.attempt }
      }
   }
   hmmer {
     env.LC_ALL="en_US.UTF-8"
     env.LANG="en_US.UTF-8"
      executor {
         queueSize = 50
      }

      process {
         executor = 'SLURM'
         queue = 'base'
         cpus = 1
         memory = { 8.GB * task.attempt }
         time = { 2.h * task.attempt }
      }
   }
   
   miranda {
     env.LC_ALL="en_US.UTF-8"
     env.LANG="en_US.UTF-8"
      executor {
        queueSize = 50
      }
      conda.enabled = true

      process {
         executor = 'SLURM'
         queue = 'base'
         cpus = 1
         memory = { 16.GB * task.attempt }
         time = { 4.h * task.attempt }
      }
   }

   hmmer_sequeezemeta {
     env.LC_ALL="en_US.UTF-8"
     env.LANG="en_US.UTF-8"
      executor {
         queueSize = 50
      }

      process {
         executor = 'SLURM'
         queue = 'base'
         cpus = 16
         memory = { 8.GB * task.attempt }
         time = { 40.h }
      }
   }
   
   preqc {
     env.LC_ALL="en_US.UTF-8"
     env.LANG="en_US.UTF-8"
      executor {
         queueSize = 50
      }

      process.container = '/sfs/fs2/work-geomar7/smomw240/singularity/sga.sif'
      singularity.enabled = true
      singularity.autoMounts = true

      process {
         executor = 'SLURM'
         queue = 'base'
         cpus = 1
         memory = { 8.GB * task.attempt }
         time = { 2.h * task.attempt }

         withName: 'preqc|index' {
            cpus = 4
            queue = 'base'
            memory = 8.GB
            time = { 4.h * task.attempt }
         }
      }
   }
}

